{% extends "base.html" %}
{% block title %}Om Matteklubben Fibonacci{% endblock %}
{% block nav_about %}navbaractive{% endblock %}
{% block mobile_nav_about %}navbaractive{% endblock %}

{% block body %}

    <div id="aboutbody">

        <h1>Om Matteklubben Fibonacci</h1>
        <img id="aboutimage" src="{{ url_for("static", filename="about/fibonacci_lq.jpg") }}">
        <p>
        Vi som startat Matteklubben Fibonacci heter Arvid Lunnemark (till vänster i bilden), Linn Rydberg (mitten) och Teodor Bucht (höger), och är tre gymnasieelever på Malmö Borgarskola.
        Vi tycker att matematik och problemlösning är väldigt roligt, och vill sprida problemlösningsglädjen till andra.
        Matteklubben Fibonacci startades därför hösten 2017 för dig som går i årskurs 5 eller 6 och tycker att det är kul att tänka på kluriga problem!
        </p>

        <h3>
            Hur går det till?
        </h3>
        <p>
        Varannan onsdag (jämna veckor) träffas vi kl. 15.30 - 16.30 på Malmö Borgarskola. 
        Största delen av timmen kommer vi ägna åt att lösa problem.
        Vi kommer också att gå igenom bra sätt att tänka på och olika tekniker som kan användas för att lösa problem.
        Problemen kan lösas tillsammans eller enskilt, och i vilken takt som helst.
        Matteklubben Fibonacci handlar om att ha kul!
        </p>

        <h3>
            Vad för sorts matte handlar det om?
        </h3>
        <p>
        Problemlösningsmatte handlar mer om att lösa en uppgift genom att komma på en smart idé i stället för att använda avancerade koncept.
        Många problem har väldigt korta och enkla lösningar, men de kan vara svåra att komma på.
        Till skillnad från skolmatematiken handlar problemlösningsmatte mer om att tänka och mindre om att räkna.
        </p>
        <h3>
            Låter som min grej! Hur anmäler jag mig?
        </h3>
        <p>
        Så roligt!
        Vi kommer att hålla en introduktionsträff onsdagen den 27 september kl. 18.30 på Malmö Borgarskola (Regementsgatan 36, 211 42 Malmö).
        Du kan <a target="_blank" href="https://goo.gl/forms/dF7Nj86Ej3n4rj892">anmäla dig till den här</a>.
        </p>
        <h3>
            Fler frågor?
        </h3>
        <p>
        Tveka inte att skriva ett mejl till <a href="mailto:arvid.lunnemark@gmail.com">arvid.lunnemark@gmail.com</a>, <a href="mailto:teodor.bucht@gmail.com">teodor.bucht@gmail.com</a> eller <a href="mailto:linn.rydberg99@gmail.com">linn.rydberg99@gmail.com</a>.
        </p>

    </div>





{% endblock %} 
