<!DOCTYPE html>
<html lang="sv">
 
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
 
    <link href="{{ url_for('static',filename='styles/mainpage.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,600,700" rel="stylesheet">

    {% block viewport %}<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">{% endblock %}

    {% block head %}{% endblock %}

 
</head>
 
<body class="{% block bodyid %}{% endblock %}">
    <nav>
        <table id="navigationtable">
            <tr>
                <td class="brandrow"><a href="{{ url_for('home') }}">Matteklubben Fibonacci</a></td>
                {% block centernavigation %}
                <td class="rightnavigationtablerow">
                    <table id="centernavigationtable">
                        <tr>
                            <td class="leftnavlink {% block nav_problemslist %}{% endblock %}"><a href="{{ url_for('problemslist') }}">Problem</a></td>
                            <td class="leftnavlink {% block nav_about %}{% endblock %}"><a href="{{ url_for('about') }}">Om oss</a></td>
                        </tr>
                    </table>
                </td>
                {% endblock %}
            </tr>
        </table>
                    <table id="mobilenavigationtable">
                        <tr>
                            <td class="mobileleftnavlink {% block mobile_nav_problemslist %}{% endblock %}"><a href="{{ url_for('problemslist') }}">Problem</a></td>
                            <td class="mobileleftnavlink mobileleftnavlinkrightest {% block mobile_nav_about %}{% endblock %}"><a href="{{ url_for('about') }}">Om oss</a></td>
                        </tr>
                    </table>
    </nav>



    {% block body %}{% endblock %}


 
</body>
 
</html>
