<!DOCTYPE html>
<html lang="sv">
 
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
 
    <link href="{{ url_for('static',filename='styles/mainpage.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,600,700" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='icon/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='icon/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='icon/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='icon/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='icon/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='icon/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='icon/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='icon/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon-196x196.png') }}" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon-128.png') }}" sizes="128x128">



    {% block viewport %}<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">{% endblock %}

    {% block head %}{% endblock %}

 
</head>
 
<body class="{% block bodyid %}{% endblock %}">
    <nav>
        <table id="navigationtable">
            <tr>
                <td class="brandrow"><a href="{{ url_for('home') }}">Matteklubben Fibonacci</a></td>
                {% block centernavigation %}
                <td class="centernavigationtablerow">
                    <table id="centernavigationtable">
                        <tr>
                            <td class="leftnavlink {% block nav_problemslist %}{% endblock %}"><a href="{{ url_for('problemslist') }}">Uppgifter</a></td>
                            <td class="leftnavlink {% block nav_about %}{% endblock %}"><a href="{{ url_for('about') }}">Om oss</a></td>
                        </tr>
                    </table>
                </td>
                {% endblock %}
            </tr>
        </table>
                    <table id="mobilenavigationtable">
                        <tr>
                            <td class="mobileleftnavlink {% block mobile_nav_problemslist %}{% endblock %}"><a href="{{ url_for('problemslist') }}">Uppgifter</a></td>
                            <td class="mobileleftnavlink mobileleftnavlinkrightest {% block mobile_nav_about %}{% endblock %}"><a href="{{ url_for('about') }}">Om oss</a></td>
                        </tr>
                    </table>
    </nav>



    {% block body %}{% endblock %}


 
</body>
 
</html>
