{% extends "base.html" %}
{% block title %}Matteklubben Fibonacci{% endblock %}

{% block bodyid %}bodyhome{% endblock %}

{% block body %}

<div id="homemaindiv">

    <h1 class="question">Intresserad av <span class="turkos">problemlösning</span>?</h1>
    <h1 class="question">Nyfiken på <span class="turkos">programmering</span>?</h1>
    <h1 class="answer">Gå med i Turings gäng!</h1>

    <div id="introinfo">
        <p>
        Välkommen på introduktionsträff <b>onsdagen den 13 september kl. 17.00</b> på <b>Malmö Borgarskola</b>.
        </p>
        <p>
        Vi bjuder på fika! Både föräldrar och elever är välkomna.
        </p>
        <div id="signupturingsgang">
        <a target="_blank" href="https://goo.gl/forms/dF7Nj86Ej3n4rj892">Anmäl dig här.</a>
        </div>
    </div>
    <div id="extrainfo">
        <p>
        Matteklubben Fibonacci träffas <b>onsdagar jämna veckor kl. 16.00 - 17.00</b> på <b>Malmö Borgarskola</b>, med start den <b>20 september</b>.
        Vi riktar oss till dig som går i årskurs 5 eller 6. <a href="{{ url_for('about', _external=True, _scheme='https') }}">Läs mer om oss här.</a>
        </p>
    </div>

</div>

{% endblock %}
