{% extends "base.html" %}
{% block title %}Matteklubben Fibonacci{% endblock %}

{% block bodyid %}bodyhome{% endblock %}

{% block body %}

<div id="homemaindiv">

    <h1 class="question">Intresserad av <span class="turkos">matte?</span><span class="questionmark"></span></h1>
    <h1 class="question">Nyfiken på <span class="turkos problemsolving">problemlösning?</span><span class="questionmark"></span></h1>
    <h1 class="answer">Gå med i <span class="brandfib">Matteklubben Fibonacci</span><span class="exclammark">!</span></h1>

    <div id="introinfo">
        <p>
        Välkommen på introduktionsträff <b>onsdagen den 27 september kl. 18.30</b> på <b>Malmö Borgarskola</b>.
        </p>
        <p>
        Vi bjuder på fika! Både föräldrar och elever är välkomna.
        </p>
        <div id="signupturingsgang">
        <a target="_blank" href="https://goo.gl/forms/dF7Nj86Ej3n4rj892">Anmäl dig här.</a>
        </div>
    </div>
    <div id="extrainfo">
        <p>
        Matteklubben Fibonacci träffas <b>onsdagar jämna veckor kl. 15.30 - 16.30</b> på <b>Malmö Borgarskola</b>, med start den <b>4 oktober</b>.
        Vi riktar oss till dig som går i årskurs 5 eller 6. <a href="{{ url_for('info', _external=True, _scheme='https') }}">Läs mer här.</a>
        </p>
    </div>

</div>

{% endblock %}
