{% extends "base.html" %}
{% block title %}Information om Matteklubben Fibonacci{% endblock %}
{% block nav_info %}navbaractive{% endblock %}
{% block mobile_nav_info %}navbaractive{% endblock %}

{% block body %}

    <div id="aboutbody">

        <h1>Information</h1>
        <h3>
            Vad är Matteklubben Fibonacci?
        </h3>
        <p>
        Matteklubben Fibonacci är en klubb för elever i årskurs 5 och 6 som träffas och löser kluriga matteproblem.
        Träffarna leds av elever på Malmö Borgarskola som går sista året på gymnasiet, och som själva sysslar mycket med problemlösningmatte.
        Du kan <a href="{{url_for('about')}}">läsa mer ingående om matteklubben här</a>.
        </p>

        <h3>
            När och var träffas vi?
        </h3>
        <p>
        Vi träffas varannan onsdag, jämna veckor, kl. 15.30 - 16.30 på Malmö Borgarskola. Vi kommer att vara i sal B305 och B309, som ligger på tredje våningen i B-huset mittemot varandra. Första gången kommer vi att sätta upp skyltar från huvudingången. <b>Nästa gång vi träffas är den 18 oktober.</b>
        </p>
        <h3>
            Hur kontaktar jag er?
        </h3>
        <p>
        Du kan mejla oss på <a href="mailto:arvid.lunnemark@gmail.com">arvid.lunnemark@gmail.com</a>, <a href="mailto:teodor.bucht@gmail.com">teodor.bucht@gmail.com</a> eller <a href="mailto:linn.rydberg99@gmail.com">linn.rydberg99@gmail.com</a>.

        </p>
        <p>
        Du kan också ringa eller skicka ett sms till oss på 0705642155 (Linn), 0707282287 (Teodor), eller 0734486980 (Arvid).
        </p>

        <h3>
            Ska jag ha med mig något till träffarna?
        </h3>
        <p>
        Vi ser helst att du har med dig pennor och någon form av papper (exempelvis ett rutat block). Om du inte har pennor eller papper eller råkar glömma någon gång så kan vi låna ut.
        </p>

        <h3>
            Hur anmäler jag mig?
        </h3>
        <p>
        Anmälan till Matteklubben Fibonacci har stängt. Mejla oss med ditt namn, din skola och din årskurs om du vill ställa dig i kö, så kommer vi att meddela dig om det blir någon ledig plats.
        </p>
        <h3>
            Kostar det något att vara med?
        </h3>
        <p>
        Naturligtvis inte! Matteklubben Fibonacci är helt gratis för alla deltagare.
        </p>
        <h3>
            Fler frågor?
        </h3>
        <p>
        Tveka inte att skriva ett mejl till <a href="mailto:arvid.lunnemark@gmail.com">arvid.lunnemark@gmail.com</a>, <a href="mailto:teodor.bucht@gmail.com">teodor.bucht@gmail.com</a> eller <a href="mailto:linn.rydberg99@gmail.com">linn.rydberg99@gmail.com</a>.
        </p>

    </div>





{% endblock %} 
