{% extends "base.html" %}
{% block title %}Information om Matteklubben Fibonacci{% endblock %}
{% block nav_info %}navbaractive{% endblock %}
{% block mobile_nav_info %}navbaractive{% endblock %}

{% block body %}

    <div id="aboutbody">

        <h1>Information</h1>
        <h3>
            Vad är Matteklubben Fibonacci?
        </h3>
        <p>
        Matteklubben Fibonacci är en klubb för elever i årskurs 5 och 6 som träffas och löser kluriga matteproblem.
        Träffarna leds av elever på Malmö Borgarskola som går sista året på gymnasiet, och som själva sysslar mycket med problemlösningmatte.
        Du kan <a href="{{url_for('about')}}">läsa mer ingående om matteklubben här</a>.
        </p>

        <h3>
            När träffas vi?
        </h3>
        <p>
        Varannan onsdag kl. 15.30 - 16.30 på Malmö Borgarskola.
        </p>

        <h3>
            Hur anmäler jag mig?
        </h3>
        <p>
        Vi kommer att hålla en introduktionsträff onsdagen den 27 september kl. 18.30 på Malmö Borgarskola (Regementsgatan 36, 211 42 Malmö).
        Det kommer att vara skyltat från huvudingången mot Regementsgatan.
        Du kan <a target="_blank" href="https://goo.gl/forms/dF7Nj86Ej3n4rj892">anmäla dig till introduktionsträffen här</a>.
        Vi har ett begränsat antal platser, så anmäl dig så fort som möjligt för att vara säker på att få en plats.
        </p>
        <h3>
            Kostar det något att vara med?
        </h3>
        <p>
        Naturligtvis inte! Matteklubben Fibonacci är helt gratis för alla deltagare.
        </p>
        <h3>
            Fler frågor?
        </h3>
        <p>
        Tveka inte att skriva ett mejl till <a href="mailto:arvid.lunnemark@gmail.com">arvid.lunnemark@gmail.com</a>, <a href="mailto:teodor.bucht@gmail.com">teodor.bucht@gmail.com</a> eller <a href="mailto:linn.rydberg99@gmail.com">linn.rydberg99@gmail.com</a>.
        </p>

    </div>





{% endblock %} 
