{% extends "base.html" %}
{% block title %}Problem - Matteklubben Fibonacci{% endblock %}
{% block nav_problemslist %}navbaractive{% endblock %}
{% block mobile_nav_problemslist %}navbaractive{% endblock %}

{% block body %}

    <div id="problembody">

        <h1>Problem</h1>

        <p>Här hittar du alla problem som vi har delat ut under lektionerna.</p>
        <table class="realtable problemtable">
            {% for problem in problems %}
            <tr>
                <td><a target="_blank" href="{{ url_for('static', filename=problem["filename"], _external=True, _scheme='https') }}">{{ problem['filetitle'] }}</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>





{% endblock %} 
